USE [master]
GO
/****** Object:  Database [ZPPraktica]    Script Date: 23.05.2023 17:32:13 ******/
CREATE DATABASE [ZPPraktica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZPPraktica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ZPPraktica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZPPraktica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ZPPraktica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZPPraktica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZPPraktica]
GO
/****** Object:  Table [dbo].[PointStaff]    Script Date: 23.05.2023 17:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointStaff](
	[IDPoint] [int] IDENTITY(1,1) NOT NULL,
	[idStaff] [int] NULL,
	[idTypePoint] [int] NULL,
	[SummaPoint] [float] NULL,
	[idUserSystem] [int] NULL,
 CONSTRAINT [PK_PointStaff] PRIMARY KEY CLUSTERED 
(
	[IDPoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 23.05.2023 17:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[IDStaff] [int] IDENTITY(1,1) NOT NULL,
	[NameStaff] [nvarchar](50) NULL,
	[SurnameStaff] [nvarchar](50) NULL,
	[CardNumber] [int] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[IDStaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypePoint]    Script Date: 23.05.2023 17:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypePoint](
	[IDTypePoint] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypePoint] PRIMARY KEY CLUSTERED 
(
	[IDTypePoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSystem]    Script Date: 23.05.2023 17:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSystem](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[NameUser] [nvarchar](50) NULL,
	[SurnameUser] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserSystem] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PointStaff]  WITH CHECK ADD  CONSTRAINT [FK_PointStaff_Staff] FOREIGN KEY([idStaff])
REFERENCES [dbo].[Staff] ([IDStaff])
GO
ALTER TABLE [dbo].[PointStaff] CHECK CONSTRAINT [FK_PointStaff_Staff]
GO
ALTER TABLE [dbo].[PointStaff]  WITH CHECK ADD  CONSTRAINT [FK_PointStaff_TypePoint] FOREIGN KEY([idTypePoint])
REFERENCES [dbo].[TypePoint] ([IDTypePoint])
GO
ALTER TABLE [dbo].[PointStaff] CHECK CONSTRAINT [FK_PointStaff_TypePoint]
GO
ALTER TABLE [dbo].[PointStaff]  WITH CHECK ADD  CONSTRAINT [FK_PointStaff_UserSystem] FOREIGN KEY([idUserSystem])
REFERENCES [dbo].[UserSystem] ([IDUser])
GO
ALTER TABLE [dbo].[PointStaff] CHECK CONSTRAINT [FK_PointStaff_UserSystem]
GO
USE [master]
GO
